*{

-webkit-font-smoothing: subpixel-antialiased;
}
body{

	background-color: #f1f1f1 !important;
}

div#right ul.nav{
	background-color: #fafafa;
	width:15%;
}

div#right ul.nav a{
	color: #1e8cbe;
}
div#right ul.nav a:hover{
	color: #78c8e6;
}
.questionPostDiv{
clear: both;
background: #fff;
margin-bottom: 1%;
padding: 2%;
overflow: hidden;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
box-shadow: 0 1px 2px rgba(0,0,0,0.075);

}
a.label {
	color: #fff !important;
}
.questionPostDiv a{
color: #278dbc;
text-decoration: none;cursor: auto;
	-webkit-transition: all .15s ease-in-out;
}

.questionPostDiv a:hover{
	color: #78c8e6;
}

a.question{
	color: #444 !important;
	font-size: 25px;
	font-style: normal;
	text-decoration:none !important;
	-webkit-transition: all .15s ease-in-out;
}
a.question:hover{
	color: #78c8e6 !important;
}
.userAvatar{
	height:32px;
	width: 32px;
	background-color: black;
	float: left;
}
.questionStatsDiv p{
	vertical-align: middle;
	display: table-cell;
}


#alertBox {
  position: fixed;
  width: 100%;
  left: 0px;
  right: 0px;
  top: -8px;
  z-index: 1029;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  padding-top: 0px;
}
#alertBox.transitionForStickyNotes {
  -webkit-transition: padding-top 0.3s ease-out;
  -moz-transition: padding-top 0.3s ease-out;
  -o-transition: padding-top 0.3s ease-out;
  transition: padding-top 0.3s ease-out;
}
#alertBox .alertMessage {
  line-height: 22px;
  height: 20px;
  padding: 8px 24px;
  min-width: 768px;
  font-size: 13px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  text-align: center;
}

.profileHolder{
  padding: 10px;
}

.profileContainer{
  background-color: white;
  min-height:300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.answerElementDiv{
  background-color: #fff;
  margin-bottom: 10px;
}

input#ajaxSearchPanel::-webkit-input-placeholder {
   color: #cdd9f1 !important;
}
input#ajaxSearchPanel::-moz-input-placeholder {
   color: #cdd9f1 !important;
}
#ajaxSearchPanel{
	background-color: #1e8cbe;
	color: #cdd9f1;
	border-color: none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-box-shadow:none !important;
	font-size: 18px;
}